* {
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
}
.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ui-slider, .ui-slider .slider-range-inverse, .ui-slider .ui-slider-range {
  height: 14px;
  border-radius: 10px;
  border-width: 0;
}
#slider-container {
  width: 70%;
  height: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  text-align: center;
  background: #FFF;
  border-radius: 5px;
  padding: 35px 40px 30px 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.ui-slider {
/*
  background-color: #851688;
  background-image: -webkit-linear-gradient(left, #9f11a3 0%, #e9dfb8 50%, #54a4b7 100%);
*/
  background: linear-gradient(to right,#9f11a3 0%, #e9dfb8 50%, #54a4b7 100%);
}
.ui-slider  {
  outline: none;
}
.ui-slider .slider-range-inverse {
  background: #CCC;
  position: absolute;
  right: 0;
}
.ui-slider .ui-slider-range {
  background: transparent;
}
.ui-slider .ui-slider-handle {
  width: 28px;
  height: 28px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background: #FFF;
  top: -7px;
  border-radius: 50%;
  border-width: 0;
}
.ui-slider .ui-slider-handle:active {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}
.ui-slider .ui-slider-handle .dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  background: transparent;
  overflow: hidden;
}
.ui-slider .ui-slider-handle .dot .handle-track {
  display: block;
  height: 18px;
/*  background-color: #851688;*/
/*  background-image: -webkit-linear-gradient(left, #9f11a3 0%, #e9dfb8 50%, #54a4b7 100%);*/
  background: linear-gradient(to right,#9f11a3 0%, #e9dfb8 50%, #54a4b7 100%);
  position: absolute;
  padding-right: 18px;
}
.tooltip {
      position: fixed;
      padding: 10px 20px;
      border: 1px solid #b3c9ce;
      border-radius: 4px;
      text-align: center;
      font: italic 14px/1.3 arial, sans-serif;
      color: #333;
      background: #fff;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}
